# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - master

stages:
- stage: Build
  jobs:
  - job: BuildLambdaFunction
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec:  '12.x'
        displayName: 'Iinstall Node.js'
      - task: DockerInstaller@0
        displayName: Docker Installer
      - script: |
          npm install
          npm install -g https://artifactory.app.protego.io/cloudguard-serverless-plugin.tgz
          npm prune --production
        displayName: 'NPM install, Cloudguard Workload Plugin install'
      - script: |
          export D9TOKEN=$(D9TOKEN_PARAM)
          echo {\"cloudguardAccessToken\":\"$D9TOKEN\"} >> cloudguard-config.json
        displayName: 'Setup Dome9 Credentials'
      - task: AWSShellScript@1
        inputs:
          awsCredentials: 'rolandop-cp'
          regionName: $(AWS_REGION)
          scriptType: 'inline'
          inlineScript: |
            cloudguard proact -m template.yml
            cloudguard fsp -C template.yml --region $(AWS_REGION)
            aws cloudformation package --template template.protected.yml --s3-bucket $(S3_BUCKET) --output-template output.template.yml
        displayName: 'Run CloudGuard Workload Protection and Enable FSP'
      - task: S3Upload@1
        inputs:
          awsCredentials: 'rolandop-cp'
          regionName: 'us-east-1'
          bucketName: 'rolo-cloudguard-devops-output'
          sourceFolder: '$(Build.ArtifactStagingDirectory)'
          globExpressions: '**'
      - task: PublishPipelineArtifact@1
        inputs:
          targetPath: '$(Pipeline.Workspace)'
          artifact: 'cloudguard-lambda'
          publishLocation: 'pipeline'
- stage: Deploy
  jobs:
  - deployment: CloudGuard-Lambda
    pool:
      vmImage: 'ubuntu-latest'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadPipelineArtifact@2
            inputs:
              buildType: 'current'
              artifactName: 'cloudguard-lambda'
              targetPath: '$(Pipeline.Workspace)'
          - task: AWSShellScript@1
            inputs:
              awsCredentials: 'rolandop-cp'
              regionName: $(AWS_REGION)
              scriptType: 'inline'
              inlineScript: |
                aws cloudformation deploy --template-file output.template.yml --stack-name awssamazuredevops --capabilities CAPABILITY_IAM --parameter-overrides ServiceCount=1
            displayName: 'Updating CloudFormation stack'
